body{
    background-color:#121212;
    line-height: 1.6;
    padding: 20px;

}
h1{
    text-align: center;
    color: white;
}
img{
    display: block;
    height:auto;
    width: 400px;
    margin: 0px auto;
}
ul,ol{
    font-size: 22px;

    
}
a{
    color:white;
    font-size: 20px;
    font-weight: bold;
}
h2,h3{
    color: #1db954;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.recipes .list{
    color: white;
}
.card{
    box-sizing: border-box;
    height: 320px;
    width: 420px;
    background-color: #2c2c2c;
    margin: 27px;
    border: 1px solid #1db954;
    text-align: center;
    display: inline-block;
}
.card img{
    height: 270px;
    width: 100%;    
}
ul.list, ol.list {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 600px; 
    font-size: 18px;
}


